* {
  font-size:12px;
  font-family:"Lucida Grande",Arial,sans-serif;
}
/*demo page css*/
body{ 
  background-color:#000;
  color:#fff;
}

h1 {font-size:2em;}
h2 {font-size:1.8em;}
h3 {font-size:1.6em;}
h4 {font-size:1.4em;}

h1.page-header {
  margin:0;
  font-size:3em;
  padding:5px;
}

.button_link {
  padding: .4em 1em .4em 20px;
  text-decoration: none;position: relative;
}

.button_link span.ui-icon {
  margin: 0 5px 0 0;
  position: absolute;
  left: .2em;top: 50%;margin-top: -8px;
}

.footer {
  margin-top:10px;
  padding-top:10px;
  text-align:center;
}